@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	font-family: 'Manrope';
}
h1 {
	font-weight: bolder;
	font-size: 20px;
	color: #293356;
	margin-bottom: 8px;
}
h2 {
	font-weight: 600;
	font-size: 13px;
	line-height: 23px;
	color: #848ead;
    text-align: center;
	padding-left: 75px;
	padding-right: 75px;
}
h3 {
	font-weight: bolder;
	font-size: 12px;
	color: #848ead;
	letter-spacing: 1.71px;
    margin-bottom: 25px;
}
p {
	font-weight: 600;
	font-size: 12px;
	color: #848ead;
}
hr {
	border-top: 1px solid #ECF0FB;
	width: 100%;
	margin-bottom: 24px;
}
button {
	margin-top: 22px;
	background-color: #293356;
	padding: 12px 46px 13px 46px;
	border-radius: 20.5px;
	color: #becdff;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}
button:hover {
	color: #ffffff;
}
body {
	position: relative;
}
main {
	width: 100%;
}
.main {
	padding: 89px 25px 88px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main__pattern {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 400px;
}
.main__pattern svg {
	height: 380px;
	width: auto;
}
.main__circle {
	position: absolute;
	top: 57px;
	left: 50%;
	transform: translate(-50%, 0);
}
.main__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 64px;
	z-index: 1;
}
.main__content {
	border-radius: 8px 8px 8px 8px;
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 34px;
	padding-bottom: 32px;
	z-index: 1;
	box-shadow: 10px 10px 20px #f0f4fe;
}
.main__content__input {
	width: 90%;
}
.main__content__input input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	border-radius: 5px 5px 5px 5px;
	background: linear-gradient(90deg, rgb(236, 240, 251) 50%, rgb(236, 240, 251) 50%);
}
.main__content__input input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 8px;
}
.main__content__input input[type=range]::-webkit-slider-thumb {
	box-shadow: 10px 10px 20px #a8f6ed;
	height: 40px;
	width: 40px;
	background-image: url('images/icon-slider.svg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	background-color: #10d8c4;
	-webkit-appearance: none;
	appearance: none;
	margin-top: -15px;
}
.main__content__input input[type=range]::-webkit-slider-thumb:hover {
	background-color: #7aeadf;
	cursor: pointer;
}
.main__content__price {
	font-weight: 600;
	font-size: 14px;
	color: #848ead;
	display: flex;
	align-items: center;
	margin-top: 24px;
}
.main__content__price span {
	margin-right: 10px;
	font-weight: bolder;
	font-size: 32px;
	color: #293356;
	letter-spacing: -0.8px;
}
.main__content__plan {
	display: flex;
	flex-direction: column;
}
.main__content__plan__items {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__content__plan__items__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}
.main__content__plan p {
	margin-left: 16px;
}
.main__content__billing {
	width: 100%;
	margin-right: 11px;
	margin-top: 34px;
	margin-bottom: 38px;
	display: flex;
	justify-content: end;
	align-items: center;
}
.main__content__billing p {
	margin-left: 12px;
}
.main__content__billing__ofandon {
	width: 43px;
	height: 22px;
	background-color: #cfd8ef;
	border-radius: 15px;
	position: relative;
	margin-left: 12px;
	cursor: pointer;
}
.main__content__billing__ofandon:hover {
	background-color: #7aeadf;
}
.main__content__billing__ofandon__circle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 14px;
	height: 14px;
	background-color: #ffffff;
	border-radius: 50%;
}
.main__content__billing__ofandon__circle__toggle {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 14px;
	height: 14px;
	background-color: #ffffff;
	border-radius: 50%;
}
#procent__number {
	border-radius: 9.5px;
	background-color: #feede8;
	margin-left: 5px;
	padding: 2px 8px 3px 7px;
	color: #ff8d68;
}
#procent__text {
	display: none;
}
@media (min-width: 769px) {
    .main {
        padding-top: 105px;
    }
	.main__content {
		width: 540px;
        padding-top: 58px;
        padding-bottom: 32px;
		align-items: start;
		position: relative;
	}
	.main__title {
		margin-bottom: 92px;
	}
	h1 {
		font-size: 28px;
		margin-bottom: 11px;
	}
	h2 {
		font-size: 15px;
	}
	h3 {
        font-size: 14px;
		margin-bottom: 42px;
        padding-left: 48px;
	}
	.main__content__price {
		position: absolute;
		font-size: 16px;
		top: 40px;
		right: 48px;
		margin: 0;
	}
	.main__content__price span {
		font-size: 40px;
		margin-right: 8px;
        letter-spacing: -1px;
	}
    .main__content__input {
        width: 100%;
        padding-left: 48px;
        padding-right: 48px;
    }
	.main__content__billing {
		padding-right: 65px;
		margin-top: 42px;
		margin-bottom: 0;
	}
    .main__content__billing__ofandon {
        margin-left: 16px;
    }
    .main__content__billing p {
        margin-left: 16px;
    }
    .main__content__billing__procent p {
		display: flex;
		align-items: center;
	}
	hr {
		margin-top: 40px;
		margin-bottom: 32px;
	}
	.main__content__plan__items {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.main__content__plan__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}
	.main__content__plan {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
        padding-left: 48px;
        padding-right: 44px;
	}
	button {
		margin-top: 0;
	}
	#procent__text {
		display: contents;
	}
	#procent__number {
		margin-left: 9px;
	}
	#procent__sign {
		display: none;
	}

	.main__pattern svg {
		height: 449px;
		width: auto;
	}
	.main__pattern {
		height: 449px;
	}
}
